<div class="container col-12 col-md-10 bodyCreerActu">
  <h1 class="titre">Créer une actualité</h1>
  <form class="col-md-8" [formGroup]="formActu" (ngSubmit)="onSubmit()">
    <p style="font-style: italic">Les champs marqués d'un astérisque (*) sont obligatoires et doivent donc être
      remplis.</p>
    <div class="form-group">
      <label for="titre">Titre*</label>
      <input type="text" formControlName="titre" class="form-control" id="titre" [ngClass]="{ 'is-invalid': submitted && f.titre.errors }"
        placeholder="ex: Le conseil régional aide les jeunes à trouver un stage..">
      <div *ngIf="submitted && f.titre.errors" class="invalid-feedback">
        <div *ngIf="f.titre.errors.required">Le titre de l'actualité est requis !</div>
      </div>
    </div>

    <div class="form-group">
      <label for="exergue">Exergue*</label>
      <textarea class="form-control" formControlName="exergue" [ngClass]="{ 'is-invalid': submitted && f.exergue.errors }"
        id="exergue" rows="3" placeholder="Décrivez en quelques mots l'actualité à présenter.">
      </textarea>
      <div *ngIf="submitted && f.exergue.errors" class="invalid-feedback">
        <div *ngIf="f.exergue.errors.required">L'exergue est requise !</div>
      </div>
    </div>

    <div class="form-group">
      <label for="image">Lien de l'image</label>
      <input type="text" formControlName="image" class="form-control" id="image" placeholder="">
    </div>

    <div class="form-group">
      <label for="legendeImage">Légende de l'image</label>
      <input type="text" formControlName="legendeImage" class="form-control" id="legendeImage" placeholder="Décrivez en quelques mots l'image affichée">
    </div>

    <div class="form-group">
      <label for="paragraphe1">Paragraphe 1*</label>
      <textarea class="form-control" formControlName="paragraphe1" [ngClass]="{ 'is-invalid': submitted && f.paragraphe1.errors }"
        id="paragraphe1" rows="3">
      </textarea>
      <div *ngIf="submitted && f.paragraphe1.errors" class="invalid-feedback">
        <div *ngIf="f.paragraphe1.errors.required">Le premier paragraphe est Requis !</div>
      </div>
    </div>

    <div class="form-group">
      <label for="intertitre1">Intertitre 1</label>
      <input type="text" class="form-control" formControlName="intertitre1" id="intertitre1" placeholder="Premier titre en dessous du paragraphe 1">
    </div>

    <div class="form-group">
      <label for="paragraphe2">Paragraphe 2</label>
      <textarea class="form-control" formControlName="paragraphe2" id="paragraphe2" rows="3">
      </textarea>
    </div>

    <div class="form-group">
      <label for="intertitre2">Intertitre 2</label>
      <input type="text" class="form-control" formControlName="intertitre2" id="intertitre2" placeholder="Deuxième titre en dessous du paragraphe 2">
    </div>

    <div class="form-group">
      <label for="paragraphe3">Paragraphe 3</label>
      <textarea class="form-control" formControlName="paragraphe3" id="paragraphe3" rows="3">
      </textarea>
    </div>

    <div class="text-center">
      <button class="btn btnPosterActu" type="submit">Créer l'actualité</button><img class="loadingImg" *ngIf="loading" src="../../../../assets/img/loading.gif" />
    </div>
  </form>
</div>