.footer {
    background-color: #00ac9a;
    padding-top: 15px;
    margin-top: 5vh;
}

/* .footerImg img {
    max-width: 10%;
    max-height: 50px;
} */

.cguButton {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    padding: 0;
}

.cguButton:hover {
    text-decoration: underline;
}

.logoSite img {
    margin-left: 10px;
    max-width: 150px;
}

.logoSociaux img {
    max-width: 50px;
}

.logoPartenaires img {
    max-width: 60px;
}

a {
    color: black;
}

.copyright {
    margin-top: 5%;
}

.liste {
    list-style: none;
}