<footer class="container footer sticky-bottom">

  <div class="row p-0 logoSite">
    <div class="col-md-2 text-center">
      <img src="../../assets/img/LogoAdoptFullBlack.png" alt="placeholder">
    </div>

    <div class="row p-0 col-md-3 d-flex justify-content-center">
      <h4>Adopt'Un Stage</h4>
      <ul class="liste">
        <li><a routerLink="/boiteaoutils/faq">F.A.Q</a></li>
        <li><a routerLink="/contact">Contactez-nous</a></li>
        <li><button (click)=showCgu() type="button" class="cguButton">Informations légales</button></li>
      </ul>
    </div>

    <div class="row p-0 col-md-3 d-flex justify-content-center logoPartenaires">
      <h4>Nos partenaires</h4>
      <ul class="liste">
        <li><img src="../../assets/img/proBTP.png" alt=""><a href="https://www.probtp.com/" target="_blank"></a></li>
        <li><img src="../../assets/img/Souffle9.png" alt=""><a href="https://www.souffle9.com/" target="_blank"></a></li>
        <li><img src="../../assets/img/wcs.png" alt=""><a href="https://wildcodeschool.fr/" target="_blank"></a></li>
        <!-- <li><a routerLink="/partenaires">Voir nos autres partenaires</a></li> -->
      </ul>
    </div>

    <div class="row p-0 col-md-4 logoSociaux d-flex justify-content-center align-content-center">
      <div class="footerImg ">
      <h4>Nous suivre</h4>
        <a href="https://fr-fr.facebook.com/souffle9dotation/" target="_blank"><img src="/assets/img/FacebookLogo.png"></a>
        <a href="https://twitter.com/Souffle9lyon" target="_blank"><img src="/assets/img/TwitterLogo.png"></a>
      </div>
      <div class="col-12 text-center copyright">
        <p>Copyright 2019 © Wild Code School</p>
      </div>
    </div>
  </div>

</footer>