<div *ngIf="offres || offresPourvues" class="container bodyGestionCandidatures">
  <h2 class="titre text-center">Gestion des candidatures</h2>
  <div *ngIf="offres.length; else noTableResults">
    <h4>Mes candidatures en cours <img src="/assets/img/happy.png" alt=""> </h4>
    <br>
    <table *ngIf="offres.length; else noTableResults" class="table table-striped thead-light table-hover" id="content"
      #content>
      <thead class="headBG">
        <tr>
          <th>Offre</th>
          <th>Période</th>
          <th>Rue</th>
          <th>Ville</th>
          <th>CP</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offre of offres" style="width: 300px; cursor: pointer;" [routerLink]="['/detailoffre', offre.id]">
          <td> {{offre.titre}} </td>
          <td> {{offre.dateDebut}} à {{offre.dateFin}} </td>
          <td> {{offre.rue}} </td>
          <td> {{offre.ville}} </td>
          <td> {{offre.codePostal}} </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="downloadPDF()">Enregistre et imprime tes candidatures</button>
  </div>
  <ng-template #noTableResults>
    <h3 class="text-center">
      Aucune candidature en cours !
    </h3>
  </ng-template>
  <h5 *ngIf="!offres && offres.length == 0">Tu n'as pas encore déposé de candidature.</h5>
  <button [routerLink]="'/offres'" type="button" class="btn col-6 center-block">Voir la liste des offres de
    stage</button>
  <h4>Offres déjà pourvues <img src="/assets/img/sad.png" alt=""> </h4>
  <table *ngIf="offresPourvues && offresPourvues == true" class="table table-striped thead-light table-hover">
    <thead class="headBG">
      <tr>
        <th>Offre</th>
        <th>Période</th>
        <th>Rue</th>
        <th>Ville</th>
        <th>CP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offrePourvue of offresPourvues" style="width: 300px; cursor: pointer;" [routerLink]="['/detailoffre', offrePourvue.id]">
        <td> {{offrePourvue.titre}} </td>
        <td> {{offrePourvue.dateDebut}} à {{offrePourvue.dateFin}} </td>
        <td> {{offrePourvue.rue}} </td>
        <td> {{offrePourvue.ville}} </td>
        <td> {{offrePourvue.codePostal}} </td>
      </tr>
    </tbody>
  </table>
</div>