<div class="container bodyArticle" *ngIf="actus">
  <br>
  <br>
  <h2>{{actus.titre}}</h2>
  <br>
  <blockquote *ngIf="actus.exergue"><i>{{actus.exergue}}</i></blockquote>
  <br>
  <figure>
    <img *ngIf="actus.image" src="{{actus.image}}" alt="image actus">
    <figcaption>{{actus.legendeImage}}</figcaption>
  </figure>
  <br>
  <p *ngIf="actus.paragraphe1">{{actus.paragraphe1}}</p>
  <br>
  <h4 *ngIf="actus.intertitre1">{{actus.intertitre1}}</h4>
  <br>
  <p *ngIf="actus.paragraphe2">{{actus.paragraphe2}}</p>
  <br>
  <h4 *ngIf="actus.intertitre2">{{actus.intertitre2}}</h4>
  <br>
  <p *ngIf="actus.paragraphe3">{{actus.paragraphe3}}</p>
  <br>

  <div class="row btnPost d-flex justify-content-around">
    <button type="button" class="btn btnRetour" (click)="retourPage()">Retour</button>
  </div>

</div>

