.bodyArticle {
    background-color: white;
}

p::first-letter {
    font-size: 200%;
    color: #00B499;
}

p {
    line-height: 1.7em;
}

img {
    max-width: 90%;
    display: block;
    margin: auto;
}

figcaption {
    text-align: center;
    font-style: italic;
}

.btn {
    background-color: #26a69a;
    height: 5vh;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 3vh;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
}

.btnPost {
    padding-bottom: 5vh;
}