a:hover {
    border-radius: 10px;
    background-color: #00B499;
}

a:active {
    background-color: #32e0c6;
    color: white;
}

.navbar a:focus {
    background-color: #00B499;
    color: white;
    border-radius: 10px;
}

.drpdwn {
    background: none;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.774);
    z-index: 999;
    transition: background-color 0.2s linear;
}

.solid-nav {
    background-color: #B9EAE3;
    transition: background-color 0.2s linear;
}

.navbar a {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.navbanner {
    z-index: 999;
}

.open{
    height: 295px;
}