<div class="container">
    <div *ngIf="offres" class="table-responsive">
        <table class="table table-striped thead-light table-hover">
            <thead class="bgHead">
                <tr align="center">
                    <th></th>
                    <th></th>
                    <th>Secteur</th>
                    <th>Offre</th>
                    <th>Ville</th>
                    <th>Période</th>
                    <th>Etat</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center" *ngFor="let offre of getPage() async" class="listOffre" style="cursor: pointer;" [routerLink]="['/detailoffre', offre.id]">
                    <td><img *ngIf="offre.entreprise.logo.fileDownloadUri" src="{{offre.entreprise.logo.fileDownloadUri}}" alt="Logo entreprise"></td>
                    <td><img *ngIf="!offre.entreprise.logo.fileDownloadUri" src="assets/img/LogoAdopt.png" alt="Logo par default"></td>
                    <td>{{offre.entreprise.secteur}}</td>
                    <td> {{offre.titre}}<br> <b>{{offre.entreprise.raisonSociale}}</b> </td>
                    <td> {{offre.ville}} </td>
                    <td> {{offre.dateDebut}} <br> au {{offre.dateFin}} </td>
                    <td style="background-color : #00b499; color: white;" *ngIf="offre.active == true">Dispo</td>
                    <td style="background-color : #e00000; color: white;" *ngIf="offre.active == false">Pourvue</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row d-flex justify-content-between">
        <div *ngIf="page != 0">
            <button class="btn" (click)="decreasePage()">Page précédente</button>
        </div>
        <div class="mt-3 page">
            <h4 *ngIf="page != 0">Page : <span style="color : #00ac9a;"><b>{{page}}</b></span></h4>
        </div>
        <div *ngIf="getPage().length > 0 && !(getPage().length < 5)">
            <button class="btn" (click)="increasePage()">Page suivante</button>
        </div>
    </div>
    <br>
</div>