.textHead {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.bgHead {
    background-color: #00B499;
}

.bodyOffres {
    background-color: #a2f2e7;
}

img {
    width: 100px;
}

.btn {
    background-color: #00ac9a;
    border: none;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
    color: #ffffff;
    font-size: 1.5em;
    padding: 5px 25px 5px 25px;
    font-weight: bolder;
}

.page {
    margin: 0 auto;
}

td {
    vertical-align: middle;
}
