<br>
<app-alert></app-alert>

<div class="container col-12 col-md-10 bodyListeCreateurs d-flex justify-content-center">
  <div class="col-12 mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre de recherche">
    </mat-form-field>
    <table mat-table class="limit" [dataSource]="createurs" matSort>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let createur"> {{createur.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="logo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Logo</th>
        <td mat-cell *matCellDef="let createur"> <img *ngIf="createur.logo.fileDownloadUri" class="imgDescEntreprise" src="{{createur.logo.fileDownloadUri}}"
            alt="logo createur">
          <img *ngIf="createur.logo.fileDownloadUri == null" class="imgDescEntreprise" src="assets/img/LogoAdopt.png" alt="logo par default">
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td class="overflow-ellipsis" mat-cell *matCellDef="let createur"> {{createur.description}} </td>
      </ng-container>

      <ng-container matColumnDef="siteWeb">
        <th mat-header-cell *matHeaderCellDef>Site Web</th>
        <td mat-cell *matCellDef="let createur"> {{createur.siteWeb}} </td>
      </ng-container>

      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef>Modifier</th>
        <td mat-cell *matCellDef="let createur"> <i [routerLink]="['/admin/partenaires/modifieracteur', createur.id]" class="material-icons"
            style="color:blue; cursor: pointer;">edit</i> </td>
      </ng-container>

      <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef>Supprimer</th>
        <td mat-cell *matCellDef="let createur"> <i class="material-icons" style="color:red; cursor: pointer;" (click)=showConfirm(createur.id)>delete</i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
      [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)" showFirstLastButtons></mat-paginator>
  </div>

</div>