.is-invalid {
    border-left: solid 6px red;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.bodyFormulaire {
    background-color: white;
    margin-top: 30px;
}

form {
    color: #26a69a;
    margin: 0 auto;
    padding-top: 1vw;
    padding-bottom: 2vh;
}

h1,
h2 {
    text-align: center;
    font-weight: bolder;
}

hr {
    width: 75%;
    border: 2px solid #000;
}

input,
select {
    background-color: #ebebeb;
    border: none;
}

.check {
    padding-left: 0.5rem;
    vertical-align: middle;
}

.btn {
    background-color: #26a69a;
    height: 8vh;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
    margin-top: 3vh;
}

.btn:hover {
    background-color: #2ed1bb;
}

::placeholder {
    color: #C2BFCA;
    opacity: 1;
}

.modeEmploi {
    padding-bottom: 1vh;
}

.cguButton {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(0, 119, 255);
}

.cguButton:hover {
    text-decoration: underline;
}
#lienFaq {
    text-transform: uppercase;

}
