<div class="container bodyFormulaire">

    <form class="col-md-8" (ngSubmit)="onSubmit()" [formGroup]="formCreate">
        <hr>
        <br>
        <p style="font-style: italic">Les champs marqués d'un astérisque (*) sont obligatoires et doivent donc être
            remplis.</p>
        <div class="col-sm-12 titres">
            <h2>Informations personnelles</h2>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 custom-control custom-checkbox">
                <label class="checkcontainer">
                    <input type="radio" checked="checked" formControlName="civilite" value="madame">
                    Madame
                </label>
            </div>
            <div class="form-group col-md-6">
                <label class="checkcontainer">
                    <input type="radio" formControlName="civilite" value="monsieur">
                    Monsieur
                </label>
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="prenom">Prénom*</label>
                <input id="prenom" formControlName="prenom" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }"
                    placeholder="Prénom">
                <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                    <div *ngIf="f.prenom.errors.required">Le prénom est requis!</div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="name">Nom*</label>
                <input id="name" formControlName="name" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                    placeholder="Nom">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Le nom est requis!</div>
                </div>
            </div>
        </div>

        <div class="form-group">

            <label for="etablissement">Établissement*</label>
            <select id="etablissement" formControlName="etablissement" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.etablissement.errors }"

                name="etablissement" placeholder="Établissement">
                <option [ngValue]="null">Sélectionne ton collège</option>
                <option *ngFor="let college of colleges" >{{college.nom}}</option>
                <option>Autre collège</option>
            </select>

            <div *ngIf="submitted && f.etablissement.errors" class="invalid-feedback">
                <div *ngIf="f.etablissement.errors.required">L'établissement est requis!</div>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="ville">Ville du domicile*</label>
                <input id="ville" formControlName="ville" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ville.errors }"
                    placeholder="Ville">
                <div *ngIf="submitted && f.ville.errors" class="invalid-feedback">
                    <div *ngIf="f.ville.errors.required">La ville est requise!</div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="codePostal">Code Postal*</label>
                <input id="codePostal" formControlName="codePostal" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.codePostal.errors }"
                    placeholder="Code Postal">
                <div *ngIf="submitted && f.codePostal.errors" class="invalid-feedback">
                    <div *ngIf="f.codePostal.errors.required">Le code postal est requis!</div>
                </div>
            </div>
        </div>

        <div class="form-group">     
            <label for="cv" class="label-file">Curriculum vitae</label>
            <p style="font-style: italic">*Formats acceptés : pdf, txt, doc, docx, odt.</p>
            <input (change)="onChange($event)" type="file" class="form-control-file input-file" id="cv" name="cv">
        </div>
    

        <div class="col-sm-12 titres">
            <h2>Identifiants</h2>
        </div>

        <div class="form-group">
            <label for="email">E-mail*</label>
            <input id="email" formControlName="email" type="email" class="form-control" placeholder="Exemple@mail.com"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Le mail est requis!</div>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmMail">Confirmation de l'E-mail*</label>
            <input id="confirmMail" formControlName="confirmMail" type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmMail.errors }">
            <div *ngIf="submitted && f.confirmMail.errors" class="invalid-feedback">
                <div *ngIf="f.confirmMail.errors.required">La confirmation du mail est requise!</div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe*</label>
            <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Mot de passe requis!</div>
            </div>
            <label class="col" [ngClass]="formCreate.controls['password'].hasError('required') || formCreate.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ formCreate.controls['password'].hasError('required') ||
                    formCreate.controls['password'].hasError('minlength') ? 'cancel' :
                    'check_circle' }}</i>
                Doit contenir au minimum 6 caractères!
            </label>
            <label class="col" [ngClass]="formCreate.controls['password'].hasError('required') || formCreate.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ formCreate.controls['password'].hasError('required') ||
                    formCreate.controls['password'].hasError('hasNumber') ? 'cancel' :
                    'check_circle' }}</i>
                Doit contenir au minimum un chiffre!
            </label>
            <label class="col" [ngClass]="formCreate.controls['password'].hasError('required') || formCreate.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ formCreate.controls['password'].hasError('required') ||
                    formCreate.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                    'check_circle' }}</i>
                Doit contenir au minimum une lettre majuscule!
            </label>
            <label class="col" [ngClass]="formCreate.controls['password'].hasError('required') || formCreate.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">{{ formCreate.controls['password'].hasError('required') ||
                    formCreate.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                    'check_circle' }}</i>
                Doit contenir au minimum une lettre minuscule!
            </label>
            <!-- <label class="col" [ngClass]="formCreate.controls['password'].hasError('required') || formCreate.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ formCreate.controls['password'].hasError('required') ||
                formCreate.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                'check_circle' }}</i>
              Must contain at least 1 Special Character!
            </label> -->
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirmation du mot de passe*</label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">La confirmation du mot de passe est requise!</div>
            </div>
            <label class="text-danger" *ngIf="formCreate.controls['confirmPassword'].hasError('NoPasswordMatch')">
                Mot de passe incorrect!
            </label>

        </div>

        <div class="form-group form-check">
            <input id="checkCgu" formControlName="checkCgu" type="checkbox" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.checkCgu.errors }">
            <label class="form-check-label check" for="exampleCheck1">Je certifie avoir lu
                <button (click)=showCgu() type="button" class="cguButton">les conditions d'utilisation</button>
                du site et m'y conformer.*
            </label>
            <div *ngIf="submitted && f.checkCgu.errors" class="invalid-feedback">
                <div *ngIf="f.checkCgu.errors.required">Veuillez lire et accepter les conditions d'utilisation!</div>
            </div>
        </div>

        <div class="form-group d-flex justify-content-around">
            <button (click)="retourPage()" type="button" class="btn col-4 col-sm-5">Retour</button>

            <button type="submit" class="btn col-4 col-sm-5">Valider</button>
            <img *ngIf="loading" src="../../../../assets/img/loading.gif" />
        </div>

    </form>

</div>