<div class="container bodyAide">
  <h1 class="titre">Aide</h1>
  <hr>
  <div class="blocInfo">
    <h2>Démarches administratives</h2>
  </div>
  <div class="blocInfo">
    <h5>Vous êtes employeur, parent d’élèves, élève ou professionnel de l’éducation : </h5>
      <p class=blocTexte>Découvrez le tuto des stages, portail d’information sur les stages en entreprise mis à votre disposition par le Ministère de l’Education Nationale. 
        Vous y trouverez toutes les informations pour mieux comprendre les enjeux de ces stages, des ressources et documents pour les préparer, 
        des réponses aux questions que vous vous posez afin de mettre toutes les chances de votre côté pour en faire une expérience enrichissante pour chacun.
        <br>
        Pour plus d'informations, explorez le <a href="https://readymag.com/edugouv/tutostages/troisieme-employeur/" target="_blank">Tuto des stages en entreprises </a>!
      </p>
  </div>
  <div class=blocInfo>
      <h5>Vous êtes élève ou parent d’élève : </h5>
      <p class=blocTexte>Découvrez le tuto des stages afin de vous aider dans votre sélection et dans le dépôt de votre candidature. 
        Vous y retrouvez ainsi l’ensemble des informations et des documents utiles à votre démarche, proposés par le ministère de l’éducation nationale : 
        conseils incontournables à la préparation de votre entretien, accompagnement à la rédaction de votre CV, 
        questions / réponses les plus fréquentes concernant l’organisation du stage en amont et pendant votre immersion au sein de la structure d’accueil.
        <br>
        Pour plus d'informations, explorez le <a href="https://readymag.com/edugouv/tutostages/troisieme-employeur/" target="_blank">Tuto des stages élèves </a>!
      </p>
  </div>
  <div>
    <h2>Comment contacter les collèges ?</h2>
    <ul *ngFor="let college of colleges">
      <p>{{college.nom}} : {{ college.contactPublic }}</p>
    </ul>
  </div>
</div>